{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="/user">Back to Users</a>
    <hr>
    <h2 class="page-header">{{user.fname}} {{user.lname}}</h2>
    <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Username: {{user.email}}</li>
    <li class="list-group-item">Username: {{user.workadd}}</li>
    <li class="list-group-item">Username: {{user.postalcode}}</li>
    </ul>
{% endblock %}
