{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header"></h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Work Address</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.workadd}}</td>
                <td>{{user.postalcode}}</td>
                <td>
                    <a href="/user/details/{{user.id}}" class="btn btn-success">View</a>
                    <a href="/user/edit/{{user.id}}" class="btn btn-default">Edit</a>
                    <a href="/user/delete/{{user.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
